*{
    box-sizing: border-box;
}

body {
    margin: 0px;

}
/* style the header */
.header {
    background-color: SandyBrown;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 1.5em;
}
.header a:hover{
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    height: 200px;
    color: purple;
}
/* style the top navagation bar */
.topnav {
    overflow: hidden;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 200px;
    font-size: 1.5em;
    padding: 10px 10px;
    width:100%;
}

/* style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    height: 100px;
}

/* change color on hover */
.topnav a:hover {
    /* background-color: gray; */
    color: orange;
    /* padding: 10px;
    font-size: 10px 20px; */
}

.subnav {
    list-style-type: none;
    background-color: orange;
    position: absolute;
    /* margin: 200px 50% 80% 0% ; */
    padding: 0;
    width: 20%;
    top: 330px;
    left: 0%;
    height: 600px;
    line-height: 65px;
    overflow: auto;
    text-align: center;
    font-size: 1em;
}

li a {
    display: block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
}

li .a.active {
    background-color: gray;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}

/* .left {
  background-color: skyblue;
  position: absolute;
  top:400px;
  left:0px;
  width:50%;
  height:1000px;
} */

/*right cloumn */
/* .right {
  background-color: skyblue;
  position: absolute;
  top:320px;
  left:20%;
  width: 80%;
  height:1000px;
  text-align: center;
  font-size: 1em;
} */

.container {
    border-radius: 10px 70px 10PX 70PX;
    background-color: lightgreen;
    position: absolute;
    left: 30%;
    top: 330px;
    height:600px;
    padding: 100px 200px;
}

/* input[type=text], input[type=password] {
  width: 50%
  padding:30px;
  margin: 10px 0 30px 0;
  display: none;
  border: none;
  background: pink;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

/* overwrite default styles of hr, however nothing changed */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
 } */

.form_group {
    float: center;
    /* width: 5em 10em; */
    margin-top: 10px;
}

/* submit button sttyle */
.submit{
    background-color: darkred;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100% ;
}

/* style the footer */
.footer {
    background-color: gray;
    position:absolute;
    padding: 50px 100%;
    width: 100%;
    right: 0px;
    height: 100px;
    top: 900px;
  /* width: 1800px; */
}

#ft0 {
    position: absolute;
    top: 0%;
    left: 10px;
    font-size: 0.5em;
}

 #ft1 {
    position: absolute;
    top: 0%;
    right: 70em;
    font-size: 0.5em;
}

 #ft2 {
    position: absolute;
    top: 0%;
    left: 100em;
    font-size: 0.5em;
}

#ft3 {
    position: absolute;
    top: 0%;
    left: 40%;
    font-size: 0.5em;
}

#ft4 {
    font-size: 0.5em;
    position: absolute;
    top: 0%;
    left: 50%;
}

a {
    color: black;
}
/* clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@viewport {
  width: 480px;
  zoom: 2.0;
  user-zoom: zoom;
}

/* responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:1200px) {
    body {background-color: lightgreen;}
}

@media screen and (max-width:1201px) {
    body {background-color: pink;}
}
